<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <title>Portfolio</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.min.js"
      integrity="sha512-nKXmKvJyiGQy343jatQlzDprflyB5c+tKCzGP3Uq67v+lmzfnZUi/ZT+fc6ITZfSC5HhaBKUIvr/nTLCV+7F+Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>

  <body style="background-color: #b8bbd1">
    <!-- SHU YERDAN YOZASIZ -->
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1_img">
              <img src="images/profile.png" width: 156px; height: 142px; alt="">
            </div>
            <div class="left_1_info">
              <span><%=user.name%></span>
              <p><%=user.profession%></p>
            </div>
            <div class="left_1_icons">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/icons-facebook.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/icons-instagram.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/icons-twitter.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/icons-linkedin.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/icons-youtube.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/icons-dribbble.svg" class="icon-1" />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_2">
            <div class="left_2_info">
              <span>Age</span>
              <p><%=user.age%></p>
            </div>
            <div class="left_2_info">
              <span>Residence</span>
              <p><%=user.residence%></p>
            </div>
            <div class="left_2_info">
              <span>Freelance</span>
              <p class="freelance"><%=user.freelance%></p>
            </div>
            <div class="left_2_info">
              <span>Address</span>
              <p><%=user.adress%></p>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_3">
            <strong>Languages</strong>
            <div class="left_3_info">
              <span>Uzbek</span>
              <p>100%</p>
            </div>
            <div class="left_info_margin">
              <div class="margin_line_1"></div>
            </div>
            <div class="left_3_info">
              <span>Korean</span>
              <p>80%</p>
            </div>
            <div class="left_info_margin">
              <div class="margin_line_2"></div>
            </div>
            <div class="left_3_info">
              <span>English</span>
              <p>60%</p>
            </div>
            <div class="left_info_margin">
              <div class="margin_line_3"></div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_4">
            <strong>Skills</strong>
            <div class="left_4_info">
              <span>HTML</span>
              <p>90%</p>
            </div>
            <div class="left_info_margin">
              <div class="margin_line_4_1"></div>
            </div>
            <div class="left_4_info">
              <span>CSS</span>
              <p>85%</p>
            </div>
            <div class="left_info_margin">
              <div class="margin_line_4_2"></div>
            </div>
            <div class="left_4_info">
              <span>Js</span>
              <p>80%</p>
            </div>
            <div class="left_info_margin">
              <div class="margin_line_4_3"></div>
            </div>
            <div class="left_4_info">
              <span>PHP</span>
              <p>75%</p>
            </div>
            <div class="left_info_margin">
              <div class="margin_line_4_4"></div>
            </div>
            <div class="left_4_info">
              <span>WordPress</span>
              <p>85%</p>
            </div>
            <div class="left_info_margin">
              <div class="margin_line_4_5"></div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_5">
            <strong>Extra Skills</strong>
            <div class="left_5_info">
              <div class="left_5_icon">
                <img src="icon/extra_skills_icon.svg" alt="" />
              </div>
              <span>Bootstrap, Materialize</span>
            </div>
            <div class="left_5_info">
              <div class="left_5_icon">
                <img src="icon/extra_skills_icon.svg" alt="" />
              </div>
              <span>Stylus, Sass, Less</span>
            </div>
            <div class="left_5_info">
              <div class="left_5_icon">
                <img src="icon/extra_skills_icon.svg" alt="" />
              </div>
              <span>Gulp, Webpack, Grunt</span>
            </div>
            <div class="left_5_info">
              <div class="left_5_icon">
                <img src="icon/extra_skills_icon.svg" alt="" />
              </div>
              <span>GIT Knowledge</span>
            </div>
          </div>
          <div class="marginer"></div>
        </div>
        <div class="middle_frame">
          <div class="middle_top">
            <div class="middle_top_info">
              <span>Doctor neurologists in OHSU Hospital</span>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et,
                volutpat feugiat placerat lobortis. Natoque rutrum semper sed
                suspendisse nunc lectus.
              </p>
              <button>
                <a>HIRE ME</a>
                <img src="icon/hire_me.svg" alt="" />
              </button>
            </div>
            <div class="middle_top_img">
              <img src="images/middle_top_img.png" alt="" />
            </div>
            <div class="midd_icon_1">
              <img src="icon/Ellipse_15.svg" alt="" />
            </div>
            <div class="midd_icon_2">
              <img src="icon/Rectangle_52.svg" alt="" />
            </div>
            <div class="midd_icon_3">
              <img src="icon/Polygon_1.svg" alt="" />
            </div>
            <div class="midd_icon_4">
              <img src="icon/Polygon_1.svg" alt="" />
            </div>
            <div class="midd_icon_5">
              <img src="icon/Ellipse_15.svg" alt="" />
            </div>
            <div class="midd_icon_2">
              <img src="icon/Rectangle_52.svg" alt="" />
            </div>
          </div>
          <div class="middle_bottom">
            <div class="middle_bottom_info">
              <span>My Services</span>
              <p>
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit mollit. lorem
                ipsum
              </p>
            </div>
            <div class="middle_bottom_boxes">
              <div class="middle_bottom_box">
                <div class="bottom_box_img">
                  <img src="icon/icons_coding.png" alt="" />
                </div>
                <span>Web Development</span>
                <p>Blog, E-Commerce</p>
              </div>
              <div class="middle_bottom_box">
                <div class="bottom_box_img">
                  <img src="icon/Icons_illustration.png" alt="" />
                </div>
                <span>UI/UX Design</span>
                <p>Mobile App, Website Design</p>
              </div>
              <div class="middle_bottom_box">
                <div class="bottom_box_img">
                  <img src="icon/Icons_Microphone.png" alt="" />
                </div>
                <span>Sound Design</span>
                <p>Voice Over, Beat Making</p>
              </div>
              <div class="middle_bottom_box">
                <div class="bottom_box_img">
                  <img src="icon/Icons_game-development.png" alt="" />
                </div>
                <span>Game Design</span>
                <p>Character Design, Props & Objects</p>
              </div>
              <div class="middle_bottom_box">
                <div class="bottom_box_img">
                  <img src="icon/Icons_Photographer.png" alt="" />
                </div>
                <span>Photography</span>
                <p>Portrait, Product Photography</p>
              </div>
              <div class="middle_bottom_box" style="justify-content: inherit">
                <span style="margin-top: 31px">Advertising</span>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae
                  nulla diam in ac dictum a urna viverra morbi.
                </p>
                <a href="">Order Now ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="right_frame">
          <div class="right_fram_icon_1">
            <img src="icon/Icons_Contrast.svg" alt="" />
          </div>
          <div class="right_fram_icon_2">
            <img src="icon/Pop_up.svg" alt="" />
          </div>
          <div class="right_fram_icon_3">
            <img src="icon/Icons_Home.svg" alt="" />
          </div>
          <div class="right_fram_icon">
            <img src="icon/file_code.svg" alt="" />
          </div>
          <div class="right_fram_icon">
            <img src="icon/Icons_cv.svg" alt="" />
          </div>
          <div class="right_fram_icon">
            <img src="icon/Icons_Contact.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="price_frame">
        <div class="price_info">
          <span>Price Plans</span>
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. lorem ipsum
          </p>
        </div>
        <div class="price_boxes">
          <div class="price_box"></div>
        </div>
      </div>
    </div>
  </body>
</html>
